{% extends 'base.html' %}


{% block title %}
   Такси в/из аэропорт минск-2
{% endblock %}

{% block content_title %}
Такси в/из аэропорт минск-2
{% endblock %}

{% block content %}


<p>
Заказать такси в аэропорт Минск-2. Мы предлагаем воспользоваться нашими услугами, так как предлагаем прекрасные условия.
</p>
<p>
	 Для того чтобы заказать такси, достаточно просто позвонить по телефону:
</p>
<p >
    <h3 align="center">	 ‎‎+375 29 622 10 66</h3>
    <h5 align="center" > <b> <font color = "blue">Стоимость легкового такси в/из аэропорт Минск-2 </font><font color = "red">- 35 рублей. </font></b></h5>

</p>
<p>
	 Наш менеджер уточнит все важные моменты и будьте уверены, что по прилету вас будет ждать комфортный автомобиль.
<p>

  <p>
  	 <img src="{{ url_for("static", filename="images/logo/247.png") }}" width="60" height="60" alt="viber"> мы готовые выехать в любое время 24 часа в сутки 365 дней в неделю;
  </p>
  <p>
  	 <img src="{{ url_for("static", filename="images/logo/wifi.png") }}" width="60" height="60" alt="wifi"> все наши автомобили оснащены wi-fi;
     <p><img src="{{ url_for("static", filename="images/logo/kreslo.png") }}" width="60" height="60" alt="sto"> детским автокреслом для комфортной езды вашего ребенка;</p>
  </p>
  <p>
  	 <img src="{{ url_for("static", filename="images/logo/sto.jpg") }}" width="60" height="60" alt="sto"> наши автомобили своевременно проходят техническое обслуживание, поэтому никогда не подводят в поездках;
  </p>
  <p>
  	 <img src="{{ url_for("static", filename="images/logo/card.png") }}" width="60" height="60" alt="cash"> мы принимаем различные формы оплаты: наличный и безналичный расчет, а также пластиковой карточкой;
  </p>
  <p>
  	 <img src="{{ url_for("static", filename="images/logo/piggy.jpg") }}" width="60" height="60" alt="sto"> у нас доступные цены на разовый заказ, но мы открыты и к долгосрочному сотрудничеству.
  </p>
  <p><img src="{{ url_for("static", filename="images/logo/transfera.png") }}" width="60" height="60" alt="sto">встретить вас или ваших гостей с табличкой у паспортного контроля. Будьте уверены, никто не потеряется!</p>
  <p>
  	<img src="{{ url_for("static", filename="images/logo/bron.png") }}" width="60" height="60" alt="sto"> Мы внимательно относимся к каждому клиенту и стараемся учесть все пожелания. Например, вы можете заказать машину заранее, и к назначенному времени она будет на месте.
  </p>
  <p>
  		<img src="{{ url_for("static", filename="images/logo/ok.png") }}" width="60" height="60" alt="sto"> Наши водители проконтролируют, чтобы каждому пассажиру было комфортно, а также помогут загрузить и выгрузить багаж.
  </p>    <hr/>


    <div class="row">
<br/>
<br/>
<div class="thumb">
		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi/t1.jpg")}}">
				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi/mini/t1.jpg")}}" >
		</a>
</div>
<div class="thumb">
			<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi//t2.jpg")}}">
					<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t2.jpg")}}" >
			</a>
</div>
<div class="thumb">
	 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi//t3.jpg")}}">
	 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t3.jpg")}}" >
	 		</a>
			</div>
<div class="thumb">
				<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi//t4.jpg")}}">
						<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t4.jpg")}}" >
				</a>
				</div>
<div class="thumb">

		 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi//t5.jpg")}}">
		 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi/mini/t5.jpg")}}" >
		 		</a>
				</div>
<div class="thumb">

					<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi//t6.jpg")}}">
							<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t6.jpg")}}" >
					</a>
					</div>
<div class="thumb">
			 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi/t7.jpg")}}">
			 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t7.jpg")}}" >
			 		</a>
</div>

    <div class="thumb">
			 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi/t7.jpg")}}">
			 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t7.jpg")}}" >
			 		</a>
</div>

    <div class="thumb">
			 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi/t8.jpg")}}">
			 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t8.jpg")}}" >
			 		</a>
</div>

    <div class="thumb">
			 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi/t9.jpg")}}">
			 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t9.jpg")}}" >
			 		</a>
</div>
    <div class="thumb">
			 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/taxi/t10.jpg")}}">
			 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/taxi//mini/t10.jpg")}}" >
			 		</a>
</div>

</div>

<br/>
<br/>


	<h3> Стоимость легкового такси в аэропорт Минск-2 - 35 рублей. <br/>Шестиместный минивен стоит 50 рублей.<br/> Восьмиместное авто – 65 рублей. Мы можем забрать даже компанию в 20 человек! Стоимость – 120 рублей.<br/></h3>
</p>
<p>
</p>

{% endblock %}
