{% extends 'base.html' %}

{% block title %}
    Аренда автобуса в Минске
{% endblock %}

{% block content_title %}
Аренда автобуса в Минске
{% endblock %}


{% block content %}
<p>
	 Когда занимаешься организацией крупного мероприятия, то обязательно сталкиваешься с вопросом транспортировки участников в нужное место. Арендовать автобус в Минске – самое лучшее решение в случае проведения события в столице.
</p>
<p>
	 Мы предлагаем свои услуги по транспортировке групп до 50 человек по Минску и за его пределами. Это отличный вариант, когда проходит свадьба, юбилей, экскурсия, корпоратив или деловая конференция.
</p>
<p>
	 Просто позвоните по телефону и закажите:
</p>
<h2 align="center">
‎+375 29 622 10 66 </h2>
<p>
	 В своей работе на первый план мы ставим комфорт и безопасность пассажиров. Поэтому в салонах автобусов все сидения с подголовниками, есть бесплатный wi-fi и биотуалет. Мы внимательно следим за автобусами и своевременно отправляем их на техническое обслуживание.
</p>
<p>
</p>
<p>
	 Наши водители имеют многолетний стаж вождения, ответственно подходят к своей работе. Минимальный стаж за рулем крупных автобусов – 5 лет. Они прекрасно знают город, свободно ориентируется за его пределами.
</p>
<p>
</p>
<p>
	 Почему стоит заказать автобус в Минске у нас?
</p>
<p>
	 ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Чтобы арендовать автобус с водителем достаточно просто позвонить и оставить заявку!
</p>
<p>
	 ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы принимаем все виды оплаты: наличный и безналичный расчет, пластиковой картой.
</p>
<p>
	 ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы работаем с физическими и юридическими лицами.
</p>
<p>
	 ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Наши цены – одни из самых лояльных на рынке: всего 50 рублей в час по городу. Минимальный срок аренды – 3 часа.
</p>
<p>
	 ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; В нашем автопарке только комфортабельные автобусы с кондиционером, опрятным и мягким салоном.
</p>
<p>
	 ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Наши водители отличаются пунктуальностью и никогда не опаздывают.
</p>
<p>
	 ·&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Мы работаем 24 часа в сутки семь дней в неделю.
</p>
<p>
</p>
<p>
	 Мы рады как разовым заказам, так и долгосрочному сотрудничеству с организациями, которым нужны регулярные перевозки пассажиров.
</p>
{% endblock %}