{% extends 'base.html' %}


{% block title %}
Заказ и аренда микроавтобуса в Минске
{% endblock %}

{% block content_title %}
Заказ и аренда микроавтобуса в Минске
{% endblock %}

{% block content %}

<p>Очень удобно и дешево, для перемещения не больших групп, заказывать микроавтобус до 8 посадочных мест и 8 мест для багажа.</p>
<p>&nbsp;Все больше организаций отказывается от личного транспорта и пользуются услугами транспортных компаний, снизив при этом расходы на дорогое содержание транспорта и заработную плату водителей.</p>
<p>&nbsp;Заказать не дорогой трансфер микроавтобус можно для торжественных мероприятий, деловых поездок и делегации, экскурсий, перемещения спортсменов с инвентарем, музыкантов с инструментами и т.д.</p>
<p>Микроавтобусы обновленные и оборудованы кондиционером,климат-контроль, wi-Fi, версии с длинной базой, детские кресла.</p>
<p>&nbsp;<strong>Такси в/из международный аэропорт Минск, </strong>у нас можно заказать микроавтобус. Водитель встретит гостей с табличкой, поможет с багажом и доставит до пункта назначения. Стоимость фиксированная. При этом можно оплатить наличными, по карточке или по договору на перевозку пассажиров на расчетный счет. Время ожидания пока получаете багаж и проходите паспортный контроль не учитывается при оплате.</p>
<p>&nbsp;<strong>Аренда микроавтобуса с водителем </strong>на часы, сутки , месяцы, очень удобно для поездок по Беларуси и приграничных стран, Россия, Польша, Украина, Литва... Самый популярный и не дорогой трансфер в/из&nbsp; аэропорт Вильнюса, Киев, Москва, Варшава, Каунас.</p>

<p>Заказывать такси микроавтобус или минивэн очень просто по телефонам:</p>
<h2 style="text-align: center;"><strong>+375 29 622 10 66</strong></h2>
<h2 style="text-align: center;"><strong>+375 29 292 61 10</strong></h2><br/>
<p>&nbsp;Заказывать микроавтобус можно предварительно и бронировать на определенную дату и время. Эта услуга бесплатно и очень удобно для тех, кто планирует свои поездки.</p>
<p>&nbsp;Водитель микроавтобуса обязательно с безаварийным опытом работы, вежливый, внимательный и перед прибытием на заказ за 30 мин. напоминает о себе.</p>



<div class="row">


<div class="thumb">
		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/micro/micro.jpg")}}">
				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/micro/mini/micro.jpg")}}" >
		</a>
</div>
<div class="thumb">
			<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/micro/micro2.jpg")}}">
					<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/micro/mini/micro2.jpg")}}" >
			</a>
</div>
<div class="thumb">
	 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/micro/micro3.jpg")}}">
	 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/micro/mini/micro3.jpg")}}" >
	 		</a>
			</div>
<div class="thumb">
				<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/micro/micro4.jpg")}}">
						<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/micro/mini/micro4.jpg")}}" >
				</a>
				</div>
<div class="thumb">

		 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/micro/micro5.jpg")}}">
		 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/micro/mini/micro5.jpg")}}" >
		 		</a>
				</div>
<div class="thumb">

					<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/micro/micro6.jpg")}}">
							<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/micro/mini/micro6.jpg")}}" >
					</a>
					</div>
<div class="thumb">
			 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/micro/micro7.jpg")}}">
			 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/micro/mini/micro7.jpg")}}" >
			 		</a>
</div>

</div>

<br/>
<p>Трансфер из Минска в аэропорты, самые популярные направления:</p>
<ul>
	<li>Трансфер Минск &mdash; Вильнюс (национальный аэропорт) &mdash; 380 руб</li>
	<li>Трансфер Минск &mdash; Каунас (национальный аэропорт) &mdash; 520 руб</li>
	<li>Трансфер Минск &mdash; Москва (аэропорт Домодедово) &mdash; 800 руб</li>
	<li>Трансфер Минск &mdash; Москва (аэропорт Шереметьево) &mdash; 800 руб</li>
	<li>Трансфер Минск &mdash; Москва (аэропорт Внуково) &mdash; 800 руб</li>
	<li>Трансфер Минск &mdash; Варшава (аэропорт Модлин) &mdash; 800 руб</li>
	<li>Трансфер Минск &mdash; Варшава (аэропорт Шопен) &mdash; 800 руб</li>
	<li>Трансфер Минск &mdash; Киев (аэропорт Жуляны) &mdash; 600 руб</li>
	<li>Трансфер Минск &mdash; Киев (аэропорт Борисполь) &mdash; 600 руб</li>
</ul>
<p>&nbsp;Для постоянных клиентов предоставляются <strong>скидки !!!</strong></p>
<ul>
	<li>Аэропорт М2-Брест=445 BYN</li>
	<li>Аэропорт М2-Витебск=320 BYN</li>
	<li>Аэропорт М2-Гомель=375 BYN</li>
	<li>Аэропорт М2-Гродно=385 BYN</li>
	<li>Аэропорт М2-Могилёв=240 BYN</li>
</ul>

<br/>
<p>В случае,когда необходимо перемещаться группе до 20 человек, мы можем организовать микроавтобус с такой вместимостью пассажиров. Такой вид транспорта подходит для:</p>
<ul class="margin-top">
	<li>Торжественных мероприятий (свадьба,именины...)</li>
	<li>Сопровождение делегаций</li>
	<li>Экскурсионные поездки&gt;</li>
	<li>Встречи в аэропорту и на вокзалах</li>
</ul>
<h4>Междугородние поездки</h4>
<p>В автопарке есть модели с совмещенным багажным отелением, что увеличивает количество мест для багажа. А, также, модели с разным количеством пассажирских мест от 15 до 20. Можно заказать микроавтобус с прицепом.</p>
<p>&nbsp;Аренда микроавтобуса с водителем до 20 посадочных мест дешевле, чем содержать в своем штате такой автомобиль. И, выгодно, чем арендовать несколько легковых или микроавтобусов с количеством посадочных мест до 8.</p>
<p>&nbsp;Не смотря на такую вместительность, микроавтобус очень маневренный в городском потоке. Что удобно для проведения экскурсий.</p>
<p>&nbsp;Очень дешево, комфортно и быстро можно заказать трансфер в/из Москвы, С.Петербурга, Екатеринбург, Казань и т.д.</p>
<p>&nbsp;</p>


{% endblock %}
