{% extends 'base.html' %}


{% block title %}
Реквизиты
{% endblock %}

{% block content_title %}
Реквизиты
{% endblock %}

{% block content %}
<p>Реквизиты</p>
<p>ИП Мартинчик А.В. УНН 192760476</p>
<p>г.Минск ул Алтайская 90, корп 1, кв 224</p>
<p>РАСЧЕТНЫЕ СЧЕТА</p>
<div>BY68 AKBB 3013 0000 5400 4520 0000 BLR</div>
<div>BY19 AKBB 3013 0840 4868 7520 0000 USD</div>
<div>BY65 AKBB 3013 0197 8054 5520 0000 EURO</div>
<p>в филиале №511 ОАО &laquo;АСБ Беларусбанк&raquo;, код 815.</p>
<p>SWIFT AKBBBY21511</p>
<p>АДРЕС БАНКА: Минск, ул. Долгобродская, 1 код 815, УНП 100349858</p>

{% endblock %}
