{% extends 'base.html' %}

{% block title %}
Такси Минск - Дудутки
{% endblock %}

{% block content_title %}
Такси Минск - Дудутки
{% endblock %}

{% block content %}
<p>Музей <strong>Дудутки</strong> находится в 40 км от города Минска, в Пуховическом районе. Расположен в живописном месте рядом с рекою Птичь в полутора километрах от деревни Дудичи.&nbsp;</p>
<p>Музейный комплекс старинных ремёсел и технологий.Вас ожидает увлекательное путешествие в мир стародавнего быта и профессий, дегустация самобытных блюд:&nbsp;</p>
<ul>
<li data-leveltext="" data-font="Wingdings" data-listid="1" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1">самогонный аппарат (самогон, хлеб, соленый огурец, мед)&nbsp;</li>
</ul>
<ul>
<li data-leveltext="" data-font="Wingdings" data-listid="1" aria-setsize="-1" data-aria-posinset="1" data-aria-level="1">хлебопекарня (свежевыпеченный хлеб, 3 вида сыров, масло, чай)&nbsp;</li>
<li data-leveltext="" data-font="Wingdings" data-listid="1" aria-setsize="-1" data-aria-posinset="2" data-aria-level="1">мельница (крестьянский хлеб с салом);&nbsp;</li>
</ul>
<p>&nbsp;зоосад и катание на лошадях.&nbsp;&nbsp;</p>
<p>Увидите профессию кузнеца и примите участие в изготовлении подковы, а также изготовление изделий из глины.&nbsp;</p>
<p>Заказать экскурсию и арендовать комфортный транспорт,легковой автомобиль, минивэн, микроавтобус, автобус, с водителем, из нашего автопарка на любое количество человек, можно по контактным данным:&nbsp;</p>
<h2 style="text-align: center;"><strong>+375296221066</strong>&nbsp;</h2>
<h2 style="text-align: center;"><strong>viber,whatsapp,telegramm</strong>&nbsp;</h2>
<h2 style="text-align: center;"><strong>+375292926110</strong>&nbsp;</h2>
<p>И, можете получить консультацию по вашим вопросам, круглосуточно!&nbsp;</p>
<p>Данная экскурсия подойдет для семьи, компании друзей, в промежутке во время командировки и т.д.&nbsp;</p>
<p>&nbsp;Отправиться на экскурсию в<strong> Дудутки</strong>, можно из любой точки страны.&nbsp;&nbsp;</p>

<div class="row">
<div class="thumb">
		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/dud/1.jpg")}}">
				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/dud/mini/1.jpg")}}" >
		</a>
</div>
<div class="thumb">
			<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/dud/2.jpg")}}">
					<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/dud//mini/2.jpg")}}" >
			</a>
</div>
<div class="thumb">
	 		<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/dud/3.jpg")}}">
	 				<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/dud/mini/3.jpg")}}" >
	 		</a>
			</div>
<div class="thumb">
				<a data-fancybox="gallery" href="{{ url_for("static", filename="images/logo/dud/4.jpg")}}">
						<img class="img-fluid"  src="{{ url_for("static", filename="images/logo/dud/mini/4.jpg")}}" >
				</a>
				</div>
</div>


<p>&nbsp;Стоимость:&nbsp;&nbsp;</p>
<ul>
<li>Легковой автомобиль до 3-х человек - 100 руб&nbsp;</li>
<li>Комфорт до 4-х человек - 120 руб&nbsp;</li>
<li>Бизнес до 4-х человек - 200 руб&nbsp;</li>
<li>Минивэн до 6-и человек - 160 руб&nbsp;</li>
<li>Микроавтобус до 8-и человек - 220 руб&nbsp;</li>
<li>Микроавтобус на 18 человек - 400 руб&nbsp;</li>
<li>Автобус до 50-ти человек - 500 руб&nbsp;</li>
</ul>
<p>&nbsp;Оплата производится наличными или пластиковой картой. Также, можно заключить с нами договор и перечислить оплату на счет.&nbsp;</p>
<p>&nbsp;Дополнительно оплачивается вход и&nbsp;&nbsp;</p>
<p>Всегда рады вашему звонку!&nbsp;</p>

{% endblock %}