
{% extends 'base.html' %}


{% block title %}
Трансфер Аэропорт «Минск-2» - Гродно
{% endblock %}

{% block content_title %}
Трансфер Аэропорт «Минск-2» - Гродно
{% endblock %}

{% block content %}
<p>Гродно считается одним из самых красивых белорусских городов. Сохранившиеся памятники архитектуры, живописная природа, восхитительные виды на Нёман &ndash; всё это привлекает зарубежных и белорусских туристов в этот областной центр Беларуси. Однако потратить на дорогу 6 или 8 часов на автобусе или поезде может позволить себе далеко не каждый, не говоря уже про деловых людей, у которых каждая минута времени находится на особом счету.&nbsp;</p>
<p>Наша компания предлагает трансфер из Минска, а также из Национального аэропорта в Гродно на комфортных и современных автомобилях. Дорога не занимает много времени, а опытные водители доставляют пассажиров до нужной точки оперативно и с повышенной безопасностью.&nbsp;</p>
<p><strong>Почему клиенты доверяют нам?</strong>&nbsp;</p>
<ul>
<li>Вместо 6-8 часов на автобусах и поездах, дорога занимает не более трёх часов. Трасса из Минска в Гродно &ndash; одна из самых современных в стране. Две полосы в каждую сторону позволяют преодолеть солидное расстояние за короткое время, соблюдая правила дорожного движения и обеспечивая безопасность для пассажиров.&nbsp;</li>
</ul>
<ul>
<li>Документы. Мы работаем официально, поэтому пассажиры получают все необходимые документы, которые подтвердят факт поездки на машине нашей организации. Если для подтверждения командировочных расходов вам нужны специфические документы, просто скажите нам об этом заранее (или напишите) &ndash; и мы подготовим их для вас.&nbsp;</li>
<li>Комфорт. Вы сами выбираете автомобиль, на котором поедите. Современный парк автомобилей. Мы понимаем, что дальняя дорога &ndash; это неудобства, поэтому покупаем только современные и комфортные автомобили, чтобы вам было легко преодолевать любые расстояния по Беларуси.&nbsp;</li>
<li>Опытные водители. Все наши водители &ndash; это опытные шофёры, которые не один год ездят по дорогам Беларуси. Помимо профессиональных качеств вас удивят их вежливость, пунктуальность и галантность.&nbsp;</li>
<li>Гарантированный автомобиль. Если ваш рейс будет задерживаться, автомобиль будет ждать вас на стоянке в условленном месте. Вам не придётся ломать голову, как добраться из точки &laquo;А&raquo; в точку &laquo;Б&raquo;, поскольку в таких ситуациях мы всегда ждём нашего клиента.&nbsp;</li>
</ul>
<p><strong>Сколько стоит трансфер из Минска в Гродно?</strong>&nbsp;</p>
<p>Наша задача &ndash; сделать трансфер из Минска в Гродно доступным для каждого. Мы не завышаем цены. Вы самостоятельно выбираете тип автомобиля и цену поездки:&nbsp;</p>
<ul>
<li>Трансфер из Минска в Гродно на автомобиле класса <strong>&laquo;Эконом&raquo; выйдет в 196 рублей, из аэропорта &ndash; 225.&nbsp;</strong></li>
<li>Поездка на машине класса <strong>&laquo;Комфорт&raquo;</strong> из Минска будет <strong>стоить 224 рубля, из Национального аэропорта &ndash; 257 рублей.&nbsp;</strong></li>
<li>Аренда <strong>минивэна</strong> с водителем из Минска в Гродно с<strong>тоит 252 рубля, из аэропорта &ndash; 289 рублей.&nbsp;</strong></li>
<li><strong>Микроавтобус</strong> на 8 посадочных мест с водителем выйдет в<strong> 336 рублей из Минска, и в 386 рублей из аэропорта.&nbsp;</strong></li>
</ul>
<ul>
<li>Трансфер на<strong> микроавтобусе</strong>, который вмещает<strong> до 18 пассажиров из Минска в Гродно стоит 560 рублей, из Национального аэропорта &ndash; 644 рубля.&nbsp;</strong></li>
</ul>


{% endblock %}