{% extends 'base.html' %}

{% block title %}
    Трансфер из Минске
{% endblock %}

{% block content_title %}
Трансфер в Минске
{% endblock %}

{% block content %}



<p> Наша компания работает на рынке пассажирских перевозок в г. Минск с <strong>2015</strong> года. Благодаря <strong>высокому качеству</strong> сервисных услуг, предоставляемых нашей компанией, мы отлично зарекомендовали себя и закрепились на рынке.</p>
<p> Мы гарантируем <strong>своевременную подачу</strong> транспорта и доставку на работу или деловую встречу. При необходимости Вы также можете заказать у нас микроавтобусы или автобусы большой вместимости.</p>
<p><strong>Ответственность</strong> перевозчика за причинение при перевозках вреда жизни, здоровью, имуществу пассажиров, <strong>застрахована.</strong></p>
<p><strong>Корпоративным клиентам</strong> мы можем предложить особые условия сотрудничества, позволяющие оптимизировать транспортные расходы компании, сохранив при этом имидж и мобильность.</p>
<p><em><strong>АВТОПАРК: автобусы:</strong></em> “Neoplan ”, “Mercedes”, <em><strong>микроавтобусы:</strong></em> “Mercedes”, “Volkswagen”, <em><strong>легковые авто:</strong></em> “Toyota”, “Volkswagen”, “Chevrolet”, “Pegout” и т.д.</p>
<p><em><strong>НАШИ ПРЕИМУЩЕСТВА:</strong></em></p>
<ul><li><em>заключение договора на гибких условиях с учетом индивидуальных особенностей бизнеса,</em></li><li><em>индивидуальный подбор выгодных для Вас условий сотрудничества,</em></li><li><em>персональные менеджеры, курирующие все вопросы транспортного обслуживания,</em></li><li><em>гибкая система скидок,</em></li><li><em>большой автопарк,</em></li><li><em>обслуживание деловых поездок,</em></li><li><em>доставка сотрудников к месту работы,</em></li><li><em>обслуживание корпоративных мероприятий,</em></li><li><em>встреча и проводы в аэропортах и на железнодорожных вокзалах.</em></li></ul><p>Если Вас заинтересовали наши возможности, мы готовы рассмотреть Ваше техническое задание и произвести расчет стоимости необходимых Вам услуг.</p>
<p>Для более детального рассмотрения вопроса о стоимости маршрута (мы работаем без НДС), готовы встретится с представителем Вашей компании.</p>
<p><em><strong>Ждём Ваших звонков!</strong></em></p>
{% endblock %}
