{% extends 'base.html' %}


{% block title %}
Трансфер из Минска и аэропорта в Лиду
{% endblock %}

{% block content_title %}
Трансфер из Минска и аэропорта в Лиду
{% endblock %}

{% block content %}
<p>Если вы спросите у жителя Беларуси, с чем у него ассоциируется город Лида, в числе первых трёх вариантов наверняка будут и Лидский замок, и Лидская пивоваренная компания. Несложно догадаться, что этот город, который располагается в 170 километрах от Минска, привлекает не только туристов, но и деловых людей.&nbsp;</p>
<p>Замок в Лиде интересен тем, что это чуть ли не единственное такое сооружение, которое сохранилось и было отреставрировано, на территории Беларуси. Конечно, можно вспомнить ещё Мирский и Несвижский замки &ndash; также популярные места паломничества туристов.&nbsp;</p>
<p>Дорога до Лиды из столицы занимает не так много времени &ndash; около двух часов. Это время можно ехать за рулём, быть сконцентрированным на дороге, а можно провести с пользой для работы или просто расслабиться, наблюдая за тем, как меняются пейзажи за окном автомобиля.&nbsp;</p>
<p>Наша компания предлагает аренду автомобиля с водителем по маршруту Минск (Национальный аэропорт) &ndash; Лида. Нам доверяют по целому ряду причин:&nbsp;</p>
<p>Трансфер &ndash; это удобно. Вы снимаете с себя ответственность, поскольку едете с комфортом на пассажирском сиденье. В случае, если ваш самолёт задерживается, водитель автомобиля никуда не уедет, а будет ждать вас на парковке до тех пор, порка рейс не прибудет в столицу &ndash; и вы с багажом не подойдёте к нему.&nbsp;</p>
<p>Такси из Минска в Лиду &ndash; это быстро. Наши водители &ndash; опытные шоферы. Они знают, где на дороге действует ограничения скорости, поэтому могут, не нарушая правил дорожного движения, довести вас до конечной точки маршрута с максимально допустимой скоростью. При этом безопасность будет оставаться на высоком уровне, за счёт регулярного прохождения технического осмотра автомобилей.&nbsp;</p>
<p>Цены. Вы сами выбираете цены, которые будут входить в бюджет. На конечную стоимость напрямую влияет только один фактор: выбранный вами класс автомобиля:&nbsp;</p>
<ul>
<li>Поездка из Минска в Лиду на автомобиле класса &laquo;Эконом&raquo; выйдет в 119 рублей, из аэропорта &ndash; 149.&nbsp;</li>
<li>Трансфер из Минска в Лиду на машине класса &laquo;Комфорт&raquo; будет стоить 136 рублей, из аэропорта &ndash; 171.&nbsp;</li>
</ul>
<ul>
<li>Такси из Минска в Лиду на минивэне выйдет в 153 рубля, а из Национального аэропорта &ndash; 192.&nbsp;</li>
<li>Для небольших компаний мы предлагаем трансфер из аэропорта в Лиду на микроавтобусе на 8 посадочных мест за 256 рублей, а из Минска &ndash; за 204.&nbsp;</li>
<li>Большие компании и крупные делегации мы можем отвезти из Минска в Лиду на микроавтобусе, который вмещает до 18 пассажиров, за 340 рублей, а из аэропорта поездка выйдет в 428 рублей.&nbsp;</li>
</ul>
<p>Документы. Мы работаем честно и легально. Поэтому для покрытия всех ваших расходов выдадим чеки и все необходимые документы, чтобы у руководства не было сомнений в том, как вы добирались из точки &laquo;А&raquo; в точку &laquo;Б&raquo;.&nbsp;</p>
{% endblock %}