{% extends 'base.html' %}

{% block title %}
 Трансфер из Минска в Витебск
{% endblock %}

{% block content_title %}
Трансфер из Минска в Витебск
{% endblock %}

{% block content %}

<p>Витебск &ndash; это один из красивейших городов Республики Беларусь, который расположен на северо-востоке страны. Расстояние от Минска &ndash; приблизительно 300 километров, а от национального аэропорта &laquo;Минск 2&raquo; - 250. Наша компания поможет вам с комфортом провести несколько часов в дороге, насладиться окружающими пейзажами &ndash; и полными сил добраться до областного центра Беларуси.&nbsp;</p>
<p>Почему люди выбирают трансфер из Минска в Витебск от нашей компании?&nbsp;</p>
<ul>
<li>Это удобно. Вы заранее заказываете машину с водителем и знаете, где и в котором часу вас будет ждать персональный трансфер. Не переживайте, если ваш самолёт задержится, водитель будет вас ожидать в условленном месте. Мы не бросаем своих клиентов.&nbsp;</li>
<li>Это комфортно. Автопарк нашей компании &ndash; наша гордость. Мы постоянно обновляем автомобили, чтобы вам &ndash; нашим клиентам &ndash; поездки приносили удовольствие. Сегодня вы не найдёте в парке машину, который было бы больше десяти лет.&nbsp;</li>
</ul>
<ul>
<li>Это официально. Всем клиентам мы предоставляем официальные документы, которые подтверждают факт поездки. В случае, если вы направляетесь из аэропорта в Витебск в командировку и вам нужны специфические документы, предупредите нас заранее &ndash; и вопрос будет решён.&nbsp;</li>
<li>Это безопасность. Все автомобили регулярно проходят процедуру технического осмотра, за их состоянием следят не только водители, но и целая бригада сотрудников одной из минских СТО. Это позволяет быть уверенным в автомобиле на сто процентов.&nbsp;</li>
<li>Это дёшево. Мы стараемся для клиентов, поэтому наши цены &ndash; самые доступные на рынке Беларуси.&nbsp;</li>
</ul>
<p>Выбирайте трансфер из Минска или минского аэропорта в Витебск у нас &ndash; и спокойно любуйтесь на пейзажи, а за дорогой будет следить опытный водитель!&nbsp;</p>
<p><strong>Сколько стоит трансфер из Минска и аэропорта в Витебск?</strong>&nbsp;</p>
<p>Окончательная цена зависит исключительно от ваших пожеланий и того комфорта, с которым вы хотите проехать этот неблизкий путь:&nbsp;</p>
<ul>
<li>Дорога из Минска до Витебска на автомобиле экономичного класса выйдет для вас в 202 рубля (из аэропорта &ndash; 183).&nbsp;</li>
<li>Трансфер на автомобиле класс &laquo;Комфорт&raquo; из Минска в Витебск стоит 231 рубль, а из Национального аэропорта &ndash; 194 рубля.&nbsp;</li>
<li>Арендовать минивэн с водителем по маршруту Минск-Витебск можно за 260 рублей, а из аэропорта &ndash; 235 рублей.&nbsp;</li>
<li>Микроавтобус до 8 посадочных мест из Минска будет стоить 347 рублей, из аэропорта &ndash; 313.&nbsp;</li>
</ul>
<ul>
<li>Микроавтобус до 18 посадочных мест из Минска выйдет вам в 578 рублей, аналоигчный автомобиль из аэропорта будет стоить 522 рубля.&nbsp;</li>
</ul>

{% endblock %}